{
    "$schema": "https://json.schemastore.org/prettierrc",
    "arrowParens": "avoid",
    "experimentalTernaries": true,
    "importOrder": [
        "<BUILTIN_MODULES>",
        "",
        "<THIRD_PARTY_MODULES>",
        "",
        "^~/(.*)",
        "^global/(.*)",
        "^/(.*)",
        "^./(.*)",
        "^../(.*)",
        "",
        "<TYPES>"
    ],
    "importOrderParserPlugins": ["typescript", "jsx", "importAssertions"],
    "jsonRecursiveSort": true,
    "plugins": [
        "@ianvs/prettier-plugin-sort-imports",
        "prettier-plugin-sort-json",
        "prettier-plugin-tailwindcss"
    ],
    "printWidth": 100,
    "tabWidth": 4
}
